# Exploring the Data

In [ ]:
# All the imports needed for this notebook
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

%matplotlib inline
plt.style.use('ggplot')
pd.set_option('display.max_columns', 50)
warnings.filterwarnings('ignore')

## 1. Reading the Dataset

In [10]:
# Make sure to change to your path after cloning
train_data = pd.read_csv('/home/kylep/ML/ML_Projects/nba_web_app_predictor/data/training_dataset.csv')
print(f"The shape of the data set is: {train_data.shape}!")
display(train_data.head())
print()
print("Here are the dtypes of the training dataset:")
train_data.info()

The shape of the data set is: (16512, 25)!

,Player,Tm,Opp,Res,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,Data
0,Jayson Tatum,BOS,NYK,W,30.30,14,18,0.778,8,11,0.727,1,2,0.500,0,4,4,10,1,1,1,1,37,38.1,2024-10-22
1,Anthony Davis,LAL,MIN,W,37.58,11,23,0.478,1,3,0.333,13,15,0.867,3,13,16,4,1,3,1,1,36,34.0,2024-10-22
2,Derrick White,BOS,NYK,W,26.63,8,13,0.615,6,10,0.600,2,2,1.000,0,3,3,4,1,0,0,1,24,22.4,2024-10-22
3,Jrue Holiday,BOS,NYK,W,30.52,7,9,0.778,4,6,0.667,0,0,0.000,2,2,4,4,1,0,0,2,18,19.5,2024-10-22
4,Miles McBride,NYK,BOS,L,25.85,8,10,0.800,4,5,0.800,2,3,0.667,0,0,0,2,0,0,1,1,22,17.8,2024-10-22

Here are the dtypes of the training dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  16512 non-null  object
 1   Tm      16512 non-null  object
 2   Opp     16512 non-null  object
 3   Res     16512 non-null  object
 4   MP      16512 non-null  float64
 5   FG      16512 non-null  int64
 6   FGA     16512 non-null  int64
 7   FG%     16512 non-null  float64
 8   3P      16512 non-null  int64
 9   3PA     16512 non-null  int64
 10  3P%     16512 non-null  float64
 11  FT      16512 non-null  int64
 12  FTA     16512 non-null  int64
 13  FT%     16512 non-null  float64
 14  ORB     16512 non-null  int64
 15  DRB     16512 non-null  int64
 16  TRB     16512 non-null  int64
 17  AST     16512 non-null  int64
 18  STL     16512 non-null  int64
 19  BLK     16512 non-null  int64
 20  TOV     16512 non-null  int64
 21  PF      16512 non-null  int64
 22  PTS     16512 non-null  int64
 23  GmSc    16512 non-null  float64
 24  Data    16512 non-null  object
dtypes: float64(5), int64(15), object(5)
memory usage: 3.1+ MB

### Renaming the last column

I've noticed that the last column contains the date, but is named 'Data'. I am going to rename that column and change the datatype.

In [19]:
train_data.rename(columns={'Data' : 'Date'}, inplace=True)
train_data['Date'] = pd.to_datetime(train_data['Date'])
display(train_data.head())
train_data.info()

,Player,Tm,Opp,Res,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,Date
0,Jayson Tatum,BOS,NYK,W,30.30,14,18,0.778,8,11,0.727,1,2,0.500,0,4,4,10,1,1,1,1,37,38.1,2024-10-22
1,Anthony Davis,LAL,MIN,W,37.58,11,23,0.478,1,3,0.333,13,15,0.867,3,13,16,4,1,3,1,1,36,34.0,2024-10-22
2,Derrick White,BOS,NYK,W,26.63,8,13,0.615,6,10,0.600,2,2,1.000,0,3,3,4,1,0,0,1,24,22.4,2024-10-22
3,Jrue Holiday,BOS,NYK,W,30.52,7,9,0.778,4,6,0.667,0,0,0.000,2,2,4,4,1,0,0,2,18,19.5,2024-10-22
4,Miles McBride,NYK,BOS,L,25.85,8,10,0.800,4,5,0.800,2,3,0.667,0,0,0,2,0,0,1,1,22,17.8,2024-10-22

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16512 entries, 0 to 16511
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Player  16512 non-null  object
 1   Tm      16512 non-null  object
 2   Opp     16512 non-null  object
 3   Res     16512 non-null  object
 4   MP      16512 non-null  float64
 5   FG      16512 non-null  int64
 6   FGA     16512 non-null  int64
 7   FG%     16512 non-null  float64
 8   3P      16512 non-null  int64
 9   3PA     16512 non-null  int64
 10  3P%     16512 non-null  float64
 11  FT      16512 non-null  int64
 12  FTA     16512 non-null  int64
 13  FT%     16512 non-null  float64
 14  ORB     16512 non-null  int64
 15  DRB     16512 non-null  int64
 16  TRB     16512 non-null  int64
 17  AST     16512 non-null  int64
 18  STL     16512 non-null  int64
 19  BLK     16512 non-null  int64
 20  TOV     16512 non-null  int64
 21  PF      16512 non-null  int64
 22  PTS     16512 non-null  int64
 23  GmSc    16512 non-null  float64
 24  Date    16512 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(5), int64(15), object(4)
memory usage: 3.1+ MB

## 2. Exploratory Data Analysis (EDA)

### Checking for missing values

In [ ]:
# Checking for NaN values in columns
null_counts = train_data.isnull().sum()
print(null_counts)

Player    0
Tm        0
Opp       0
Res       0
MP        0
FG        0
FGA       0
FG%       0
3P        0
3PA       0
3P%       0
FT        0
FTA       0
FT%       0
ORB       0
DRB       0
TRB       0
AST       0
STL       0
BLK       0
TOV       0
PF        0
PTS       0
GmSc      0
Date      0
dtype: int64

### Seperating the Numerical and Categorical Columns

In [33]:
num_cols = train_data.select_dtypes(exclude=['object', 'datetime64[ns]'])
print("Here are the numerical columns:")
display(num_cols)

cat_cols = train_data.select_dtypes(include=['object', 'datetime64[ns]'])
print("Here are the categorical columns:")
display(cat_cols)

Here are the numerical columns:

,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc
0,30.30,14,18,0.778,8,11,0.727,1,2,0.500,0,4,4,10,1,1,1,1,37,38.1
1,37.58,11,23,0.478,1,3,0.333,13,15,0.867,3,13,16,4,1,3,1,1,36,34.0
2,26.63,8,13,0.615,6,10,0.600,2,2,1.000,0,3,3,4,1,0,0,1,24,22.4
3,30.52,7,9,0.778,4,6,0.667,0,0,0.000,2,2,4,4,1,0,0,2,18,19.5
4,25.85,8,10,0.800,4,5,0.800,2,3,0.667,0,0,0,2,0,0,1,1,22,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16507,5.18,0,2,0.000,0,2,0.000,0,0,0.000,0,0,0,2,0,0,0,2,0,-0.8
16508,20.75,1,5,0.200,0,2,0.000,0,0,0.000,0,1,1,1,0,0,0,2,2,-0.9
16509,16.70,0,5,0.000,0,3,0.000,0,0,0.000,2,1,3,2,0,0,1,0,0,-1.4
16510,20.70,1,5,0.200,0,4,0.000,0,0,0.000,0,5,5,1,0,0,3,2,2,-2.7
16511,10.35,0,4,0.000,0,3,0.000,0,0,0.000,0,3,3,2,0,0,3,1,0,-3.9

Here are the categorical columns:

                 Player   Tm  Opp Res       Date
0          Jayson Tatum  BOS  NYK   W 2024-10-22
1         Anthony Davis  LAL  MIN   W 2024-10-22
2         Derrick White  BOS  NYK   W 2024-10-22
3          Jrue Holiday  BOS  NYK   W 2024-10-22
4         Miles McBride  NYK  BOS   L 2024-10-22
...                 ...  ...  ...  ..        ...
16507       Emoni Bates  CLE  WAS   W 2025-02-07
16508        A.J. Green  MIL  ATL   L 2025-02-07
16509  Kenrich Williams  OKC  TOR   W 2025-02-07
16510     Tyrese Martin  BRK  MIA   W 2025-02-07
16511       Eric Gordon  PHI  DET   L 2025-02-07

[16512 rows x 5 columns]